.kurzrechner1{position: absolute; left: 200px;top: 100px;
    width: 300px;
    height: 150px;}
    .kurzrechner2{position: absolute; left: 700px;top: 100px;
      width: 300px;
      height: 150px;
    }
    .kurzrechner3{position: absolute; left: 1200px;top: 100px;}
  
   .kurzrechner1-3{
    width: 300px;
      height: 150px;
  
    display: flex;
    }
    
  
    .Option:hover{text-decoration: underline;}
  
    
      .Haus-Bild {height: 700px;width: 100%;object-fit: cover;}
      .mdl-layout__drawer { color: #1a0497;}
  
        .Hinweiss{color: #0b0c0c;
        display: flex;}
  
      .rechner-mobil{
         50%
        }
        .footer {
          position: absolute;
          left: 30px;
        }
        .Gutschein {
        
         color: black;
        }
       
           
          
             
               
        
      
      @media (max-width: 1600px){
        .kurzrechner3{left: 800px;top: 100px;}
  
       .kurzrechner2{ left: 500px;top: 100px}
  
  
        @media (max-width: 1100px){
  
        .kurzrechner1{left: 300px;}  
        .kurzrechner2{left: 300px;top: 400px;  }
  
        .kurzrechner3{left: 300px ; top: 1050px;}
  
         @media (max-width: 630px ){
        .kurzrechner1{left: 50px;top: 50px; }
        .kurzrechner2{left: 50px;top: 350px; }
        .kurzrechner3{left: 50px; top: 600px;}  }
  
                   
           }
          }
  
       .blau{
        color: #1a0497;
       }   
       
        
       
  
         