.kurzrechner1{position: absolute; left: 200px;top: 100px;
    width: 300px;
    height: 150px;}
    .kurzrechner2{position: absolute; left: 700px;top: 100px;
      width: 300px;
      height: 150px;
    }
    .kurzrechner3{position: absolute; left: 1200px;top: 100px;}
  
   .kurzrechner1-3{
    width: 300px;
      height: 150px;
  
    display: flex;
    }
  
  
    
  
    
      .Haus-Bild {height: 700px;width: 100%;object-fit: cover;}
      .mdl-layout__drawer { color: #1a0497;}
  
        .Hinweiss{color: #0b0c0c;
        display: flex;}
  
      .rechner-mobil{
         50%
        }
        .footer {
          position: absolute;
          left: 30px;
        }
        .Gutschein {
        
         color: black;
        }
        body {
          font-family: Arial, sans-serif;
      }
      body {
        font-family: Arial, sans-serif;
    }
    .dropdown {
        position: relative;
        left: 30px;
        display: inline-block;
        cursor: pointer;
       
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: rgb(44, 63, 238);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
    }
    .dropdown-content a:hover {
        background-color: #d1c2c2;
    }
    
    .show {
        display: block;
        list-style: none;
    }

    .miniBanner {
      position: relative;
      left: 20px;top: 100px; 
      list-style: none;
    }

   
   

      @media (max-width: 1600px){
        .kurzrechner3{left: 800px;top: 100px;}
  
       .kurzrechner2{ left: 500px;top: 100px}
  
  
        @media (max-width: 1100px){
  
        .kurzrechner1{left: 300px;}  
        .kurzrechner2{left: 300px;top: 400px;  }
  
        .kurzrechner3{left: 300px ; top: 1050px;}
  
         @media (max-width: 630px ){
        .kurzrechner1{left: 50px;top: 50px; }
        .kurzrechner2{left: 50px;top: 350px; }
        .kurzrechner3{left: 50px; top: 600px;}  }
  
                   
           }
          }
  
      
       
        
       
  
         